body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}

code {
    color: rgba(255, 0, 221, 0.863);
    font-size: 16px;
    /* color: rgba(255, 162, 0, 0.842);*/
}

@font-face {
    font-family: 'aeonikmedium';
    src: url('./Styles/Assets/fonts/aeonik-medium-webfont.woff2') format('woff2'),
    url('./Styles/Assets/fonts/aeonik-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
